# macOS
.DS_Store

# Xcode build output
build/
DerivedData/

# Per-user Xcode settings
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager local state
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
